<tr class="tiitle">
    <td>UserID</td>
    <td>UserName</td>
</tr>
<% restaurant.reserves.forEach( function(restaurant) { %>
    <td><tr><%=<restaurant.reserves.id%></tr><tr><%=<restaurant.reserves.username%></tr></td>
<% }); %>